* {
    background-color: #ededed;
}
body {
    margin: 1.5em 3.5em;
}
table {
    border-collapse: collapse;
}
td,th {
    padding: 5px;
}
table,th,td {
    border: 1px solid;
}
.pc {
    width: 200px;
}
.highlight {
    background-color: yellow;
}